services:
  postgres:
    image: postgres:15
    container_name: postgres_balancecore
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
#     volumes:
#       - postgres_balancecore_data:/var/lib/postgresql/data
# volumes:
#   postgres_balancecore_data: {}
